.vs/
WebApiProduccion.Data/obj/
WebApiProduccion.Entities/obj/
WebApiProduccion/obj/
WebApiProduccion/WebApiProduccion.csproj.user
WebApiProduccion.Data/bin/
WebApiProduccion.Entities/bin/
WebApiProduccion/bin/
WebApiProduccion.Data/bin/Debug/
WebApiProduccion.Entities/Debug/
*.dll
*.pdb
*.exe